.ion-padding {
  --padding-start: 0;
  --padding-end: 0;
}

.page-content {
  --background: #090909;

  &::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    background: linear-gradient(to top, #090909 0%, transparent 100%);
    pointer-events: none;
    z-index: 10;
  }
}

.main-content {
  padding-top: 16px;
  padding-bottom: 20%;
  mask-image: linear-gradient(to right, black 75%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-image: linear-gradient(to right, black 75%, transparent 100%);
  -webkit-mask-composite: source-in;
}
