<ion-header>
  <app-topbar />
</ion-header>
<ion-content [fullscreen]="true" class="page-content ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <div class="main-content">
    <app-personal-online #personalOnline />
    <app-programas #programas />
    <app-conteudos />
  </div>
</ion-content>
